{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}


	<main>
		{% for article in articles %}
			<div class="card_mb-3" style="max-width: 980px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src={{article.image}} class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="category-subtitle">{{article.category.title}}</h5>
							<h5 class="card-title">{{article.title}}</h5>
								<p class="card-text">{{article.summary}}</p>
							<a href="{{path('test', { slug: article.slug}) }}" class="btn btn-dark">Go</a>
						</div>
					</div>
				</div>
			</div>
	{% endfor %}	
		</main>
		<footer class="my-5 pt-5 text-muted text-center text-small">
			<p class="mb-1">&copy; 2017–2020 Company Name</p>
			<ul class="list-inline">
				<li class="list-inline-item">
					<a href="#">Privacy</a>
				</li>
				<li class="list-inline-item">
					<a href="#">Terms</a>
				</li>
				<li class="list-inline-item">
					<a href="#">Support</a>
				</li>
			</ul>
		</footer>
	</div>

{% endblock %}

